html {
    scroll-behavior: smooth;
}

body {
    background: black;
    position: absolute;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Inconsolata', monospace;

}

section {
    height: 100vh;
    width: 100vw;
}

a:link {
    color: #0000bc;
}

a:visited {
    color: #503000;
}

#header {
    width: 100%;
    position: fixed;
    top: -20vh;
    left: 0;
    background: #ffffff;
    border-bottom-style: solid;
    border-bottom-color: #787878;
    z-index: 1;
}

h1 {
    display: inline-block;
    background: #006800;
    color: #ffffff;
    font-family: 'Inconsolata', monospace;
    padding: 20px;
    margin: 0px;
}

nav {
    position: relative;
    width: 80vw;
    left: 10vw;
    display: flex;
    justify-content: space-between;
}

nav span:hover {
    color: #0000bc;
    cursor: pointer;
}

nav li{
    display: inline;
    padding: 0px 10px;
}

nav li span {
    color: #787878;
    text-decoration: none;
}

#navlinks {
    margin-top: 25px;
}


.container {
    outline-style: solid;
    outline-color: #006800;
    outline-width: 9px;
    outline-offset: -24px;
    padding: 36px;
    width: 80vw;
    background: white;
    box-sizing: border-box;
    margin-bottom: 10vh;
    transition: max-height .5s linear;
}

#about {
    position: absolute;
    padding: 0px;
    overflow: hidden;
    box-sizing: border-box;
}

#portfolio {
    position: absolute;
    display: none;
    overflow: hidden;
}

#contact {
    position: absolute;
    display: none;
}

#start {
    font-size: 4em;
    position: relative;
    top: 40vh;
    color: white;
    text-align: center;
}

#cursor {
    display: inline;
}

#jumpToPort:hover {
    color: #0000bc;
    cursor: pointer;
}

#jumpToPort2:hover {
    color: #0000bc;
    cursor: pointer;
}

#jumpToContacts:hover {
    color: #0000bc;
    cursor: pointer;
}

#safeHamletLink:hover {
    color: #0000bc;
    cursor: pointer;
}

.portImg {
    float: left;
    margin: .5em;
    width: 25vw;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: .5em;

}

.collapse {
    overflow: hidden;
    position: relative;
    width:100%;
    max-height: 0px;
    transition: max-height .5s linear;
}
