body {
    background: black;
    position: absolute;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

header {
    width: 100%;
    position: fixed;
    top: -10vw;
    left: 0;
    background: #ffffff;
    border-bottom-style: solid;
    border-bottom-color: #999;
    z-index: 1;
}

h1 {
    display: inline-block;
    background: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    margin: 0px;
}

p {
    font-size: 2em;
    margin: .5em;
}

nav {
    position: relative;
    width: 80vw;
    left: 10vw;
    /* margin: 0px 10vw; */
    display: flex;
    justify-content: space-between;
}

nav a:hover {
    color: #3e0ce8;
}

nav li{
    display: inline;
    padding: 0px 10px;
}

nav li a {
    color: #999;
    text-decoration: none;
}

#navlinks {
    margin-top: 25px;
}


.container {
    /* position: absolute; */
    outline-style: solid;
    outline-color: #4aaaa5;
    outline-width: 9px;
    outline-offset: -24px;
    padding: 36px;
    width: 80vw;
    background: white;
    box-sizing: border-box;
    margin-bottom: 30px;
    overflow: auto;
}

#about {
    display: none;
    position: absolute;
    top: 10vw;
    left: 10vw;
}

#portfolio {
    position: absolute;
    left: 120vw;
    top: 10vw;
}

#contact {
    position: absolute;
    top: -110vw;
    left: 10vw;
}

.leftImg {
    float: left;
    margin: .5em;
}

.rightImg {
    float: right;
    margin: .5em;
}

#start {
    font-size: 4em;
    position: relative;
    top: 20vw;
    color: white;
    text-align: center;
}

#cursor {
    display: inline;
}